<header>
  <nav>
    <div class="row">
      <ul class="nav-top-left">
        <li><a href="#main">beandrake.com</a></li>
      </ul>
      <ul class="nav-top-right">
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#artifacts">Artifacts</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <!-- fake non-static nav to prevent static nav from obfuscating content -->
  <div class="row">
    <ul class="nav-top-fake">
      <li><a>&nbsp;</a></li>
    </ul>
  </div>
</header>
