<header>
  <nav>
    <div class="row">
      <ul class="nav-top-left">
        <li><a class="section-link" href="#main">beandrake.com</a></li>
      </ul>
      <ul class="nav-top-right">
        <li><a class="section-link" href="#about">About</a></li>
        <li><a class="section-link" href="#projects">Projects</a></li>
        <li><a class="section-link" href="#blog">Blog</a></li>
        <li><a class="section-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>



  <!-- fake non-static nav to prevent static nav from obfuscating content -->
  <!--<div class="row">-->
    <!--<ul clanav-topicky-fake">-->
      <!--<li><a class="section-link">&nbsp;</a></li>-->
    <!--</ul>-->
  <!--</div>-->

</header>
