

/* ------------------------------------------
               Introduction Text
   ------------------------------------------ */

.space-at-top {
  height: 20px;
}


.introduction{
  width: 100%;

  display: inline-block;
  margin-left: 15%;
}

p {
  width: 70%;

  line-height: 150%;
  padding-bottom: 10px;

  padding-left: 30px;
  padding-right: 30px;

  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.goal {
}

.goal p{
  text-align: center;
  font-size: 120%;
  color: #4169e1;
}

.goal p:first-child {
  padding-top: 20px;
}

.goal p:last-child {
  padding-bottom: 25px;
}
