<div class="background row">
  <app-nav-top></app-nav-top>
  <div class="pretentious-description">
    <ul>
      <li>Design</li>
      <li>Code</li>
      <li>Passion</li>
    </ul>
    <img src="../../assets/img/face.jpg" alt="Branden Bean Drake">
  </div>
</div>

<div class="introduction">
  <p>
    Hi, I’m Branden Bean Drake.  I design and implement interactive experiences.
  </p><p>
    I’ve been programming for most of my life and have 5 years of design experience working on AAA video games.  Over the past few years I went back to school to earn my degree in Computer Science and Software Engineering, and since graduating I've been searching for new opportunities to grow my skills and progress my career.  Lately, this has taken the form of learning about responsive web design and frontend development tools, including HTML, CSS, Javascript, and Angular.
  </p><p>
    My goal is a simple one: to craft accessible experiences that maximize users' joy while minimizing their frustration.  The lifelong process of trying to better meet this goal is a challenge I find incredibly rewarding.
  </p><p>
    Find me on LinkedIn!
  </p>
</div>

<div>
  Languages:
  C/C++
  CSS
  HTML5
  Java
  Lua
  Python
  XML
  Tools:
  Bitbucket
  Eclipse
  Excel
  FogBugz
  JIRA
  Perforce
  SourceTree
  Visual Studio
  Xbox 360 Development
  Paradigms:
  Agile Methodologies
  Extreme Programming
  Human-Computer Interaction
  Kanban
  Object Oriented Programming
  Non-Violent Communication
  Pair Programming
  Scrum
  User-Centered Design
  User Experience Design
</div>
