
<div class="space-at-top"></div>

<div>

  <h2 id="about">Hi there</h2>
  <div class="introduction">
    <p>
      I’m Branden Bean Drake.  I design and implement interactive experiences.  I have one goal:
    </p>

    <div class="goal">
      <p>
        to craft ethical, accessible experiences
      </p><p>
        which maximize user joy
      </p><p>
        while minimizing user frustration
      </p>
    </div>
    <p>
      The lifelong process of better achieving this goal is among my greatest pleasures.
    </p>
    <!--<p>-->
      <!--The lifelong challenge of trying to better meet this goal is a process I find incredibly rewarding.-->
    <!--</p>-->
    <!--<p>-->
      <!--I’ve been programming for most of my life and have 5 years of design experience working on AAA video games.  Over the past few years I went back to school to earn my degree in Computer Science and Software Engineering, and since graduating I've been searching for new opportunities to grow my skills and progress my career.  Lately, this has taken the form of learning about responsive web design and frontend development tools, including HTML, CSS, Javascript, and Angular.-->
  <!--</p>-->
  </div>

</div>
