

/* ------------------------------------------
               Introduction Text
   ------------------------------------------ */


/* line that appears after heading */
.space-at-top {
  height: 20px;
}

.introduction{
  display: inline-block;
  margin-left: 10%;
  border-left: 1px solid #4169e1;
  padding-left: 30px;
}

p {
  width: 70%;
  /*font-size: 85%;*/
  line-height: 150%;
  padding-bottom: 10px;
}
