/* You can add global styles to this file, and also import other style files */


/* An open-source CSS that makes CSS look the same regardless of browser. */
/*@import url('assets/vendors/css/normalize.css');*/
/* for some reason using this adds vertical scrolls bars to many elements, diagnose after critical functionality is implemented*/


/* Open-source CSS that makes a responsive grid. */
@import url('assets/vendors/css/grid.css');

/* Open-source icon fonts. */
@import url('assets/vendors/css/ionicons.min.css');

/* The Lato font, hosted by Google Fonts */
@import url('http://fonts.googleapis.com/css?family=Lato:100,200,300,400,300italic');





* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  color: #555555;

  /* 1st choice, 2nd choice, default */
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;

  /* the base size that all other relative sizes are based on */
  font-size: 20px;
  text-rendering: optimizeLegibility;

  /* hides content that overflows on the X-axis */
  overflow-x: hidden;
}



