<h2 id="projects">Projects</h2>

<div class="project">
  <h3>Hug The Line</h3>
  Roles: Lead Programmer, UX Researcher

  Hug The Line is a cute twist on the tried-and-true tower defense game genre.  Adorable critters march along a path towards their destination, but they are continuously losing energy as they progress.  Players must position their wizards at strategic locations so that their helpful magics can ensure each critter’s survival.

  I was one of two lead programmers responsible for implementing the functional proof-of-concept for the game; in addition, we programmed an API with which students could make similar games.  Both the API and the proof-of-concept were implemented by pair-programming in Java on top of the DFL’s existing game engine.  The game was designed via team-wide collaboration and used Agile methodologies.

  After the proof-of-concept was complete, I took on the role of UX researcher to learn how best to bring the game to a mobile platform.  Through user-testing, I elicited the requirements for our touch-driven interface and discovered that certain elements of our HUD were confusing to users.   I finished up by writing a technical document which described the problems and suggested solutions.

  Tools:
  Java
  Eclipse
  SourceTree
  Bitbucket
  Jira
  (official game website) https://depts.washington.edu/cmmr/GTCS/hug-the-line-htl/

</div>

Halo 4
Role: Multiplayer Designer

Grifball_playlist_H4[1]

Halo 4 is a sci-fi first-person shooter with multiple different game modes for players to enjoy.  It was released on Xbox 360.

I began working on Halo 4 late in the game’s development.  At that time, many multiplayer game modes had not been created yet, and my job was to script them.  While I did design several new settings for the game, most of my work involved trying to recreate the balance and feel of previous Halo games within a new engine with new features.

I designed and scripted the menus, settings, default settings, and scoring systems for the multiplayer game modes.  This included organizing settings into various sub-menus for usability, as well as managing strings associated with menus and settings for localization purposes.  I was also in charge of design, implementation, playtest organization/feedback, and iterative tuning for the famous Grifball game mode.

Tools:
Proprietary Scripting Language
Proprietary Design Software
Xbox 360 Development Kits
(official game website) https://www.halowaypoint.com/en-us/games/halo-4

Guardians of Middle Earth
Role: Technical Designer

gome_3[1]

Guardians of Middle-Earth is a MOBA (Multiplayer Online Battle Arena) that takes place in the Lord of the Rings universe.  Unlike other games of this type, Guardians of Middle-Earth was specifically designed to be played on video game consoles rather than PC’s.  It was released on Xbox 360 and Playstation 3.

I came onto this project midway through development, and was one of several designers tasked with working on the game’s relic (equipment) system.  The relic system itself was put together as a sort of puzzle, and my gut told me that most players would find it frustrating.  I created paper prototypes and ran user tests which confirmed my suspicions.  I then modified the design and ran a second wave of user tests; these users reported positive experiences.  The gathered data convinced key stakeholders to adopt my altered design.

The rest of my work involved designing specific relics and collaborating with UX/UI specialists; the major challenge here was designing an interface that allowed a player with a controller to manipulate and sift through the hundreds of distinct relics they would accumulate during the game.

Tools:
Excel
Proprietary Level-Editing Software
Perforce
FogBugz
Xbox 360 Development Kits
(official game website) http://www.lith.com/Games/Guardians-of-Middle-earth

Lord of the Rings: War in the North
Role: Technical Designer

Lord-of-the-Rings-War-in-the-North-free[1]

War in the North is a multiplayer action-RPG set in the Lord of the Rings universe.  It was released on Xbox 360, Playstation 3, and PC.

I was one of the primary combat designers on this project.  Initially I designed a high-level suite of enemy archetypes aimed at encouraging players to use their various abilities.  I then scripted AI templates for each type before designing and implementing the unique aspects of each distinct enemy.

I was also responsible for getting assets (art, animation, VFX, SFX) connected within the game.  I designed and implemented systems to allow level designers to customize scripted sequences within levels, and collaborated with programmers to design and implement parts of the pathfinding system.

Towards the end of development our production staff was stretched thin, and I noticed that there wasn’t enough time left to create and hook-up the remaining animations needed for our enemies.  I created a spreadsheet that illustrated the disparity to my managers, then with their support I cut everything that wasn’t absolutely needed; in some cases, I was able to trim existing animations to create passable animations that were needed, reducing the workload for our strained animators.  During this time, I also took on the role of project management for animation and worked closely with animators to ensure that we met our deadline.

Tools:
Proprietary Scripting Software
Lua
Proprietary Animation Software
Proprietary Level-Editing Software
Perforce
Jira
Excel
Maya
XML
Xbox 360 Development Kits
(MobyGames page for War in the North)  http://www.mobygames.com/game/lord-of-the-rings-war-in-the-north
